<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Human chat board</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">Chat app</a>
        </div>
    </nav>
    <div class="container" style="margin-top:5%;width:32%;">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <input id="icon_prefix" type="text">
                    <label for="icon_prefix">Email of your friend</label>
                </div>
            </div>
            <center><a class="waves-effect waves-light btn" id="findBtn">find</a></center>
        </form>
        <div id="userlist" style="display: none;">
            <table>
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Username</th>
                        <th>Chat</th>
                    </tr>
                </thead>

                <tbody id="usertable" style="display: none;">

                </tbody>
            </table>
        </div>
        <br>
        <div id="chatbox" style=" display:none;width: 400px;height: 400px;border:2px solid;padding:2%;">
            <div class="row">
                <center>
                    <h5>Chat Window</h5>
                </center>
                <div id="chatHistory" style="padding:2%;">
                    
                </div>
                <div class="input-field col s12" style="bottom:0px;">
                    <input id="msg" type="text">
                    <label for="msg">To send Please press "Enter"</label>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="./home.js"></script>
</body>

</html>