<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Human chat board</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">Chat app</a>
        </div>
    </nav>
    <div class="container" style="margin-top:15%;width:32%;">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="icon_prefix"  type="text">
                        <label for="icon_prefix">Username</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">phone</i>
                        <input id="icon_telephone" type="text">
                        <label for="icon_telephone">Password</label>
                    </div>
                </div>
                <center><a class="waves-effect waves-light btn" id="loginbtn">Login in</a></center>
            </form>
        </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
        $(document).ready((e) => {
            $('#loginbtn').on('click', (evnt) => {
                console.log(evnt)
                let data = JSON.stringify({
                    "username": $('#icon_prefix').val(),
                    "password": $('#icon_telephone').val()
                });
                console.log(data)
                var settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": "/api/login",
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "processData": false,
                    "data": data
                }

                $.ajax(settings).done(function (response) {
                    console.log(response);
                    localStorage.setItem('token', response.token)
                    document.location.href = '/home'
                });
            })
        })
    </script>
</body>

</html>